.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkorchid;
}

.todos {
  background-color: #32324e;
  color: white;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* .todo-item { */
/* background-color: white; */
/* } */

input {
  width: 200px;
  outline: none;
  height: 30px;
}
